html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body > div {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    white-space: nowrap;
}

.box {
    border: 3px solid black;
    border-radius: 3px;
    margin: 5px;
    box-sizing: border-box;
}

.container > div {
    vertical-align: top;
    display: inline-block;
}

.side-content {
    width: 30%;
    height: 100%;
    margin: 0 0 10px;
    box-sizing: border-box;
}

.cv-editor {
    min-height: 891px;
    min-width: 630px;
    margin: 5px 0 10px;
}

.edit-section {
    height: 55%;
}

.edit-text {
    height: 40%;
}

.select-section {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
    height: 45%;
    text-align: left;
}

.select-template {
    height: 50%;
}

.section {
    border: 1px solid grey;
    background-color: aquamarine;
    box-sizing: border-box;
    margin: 0;
}
