html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    white-space: nowrap;
}

.box {
    border: 3px solid black;
    border-radius: 3px;
    margin: 5px;
    box-sizing: border-box;
}

.container > div {
    vertical-align: top;
    display: inline-block;
}

.side-content {
    width: 30%;
    height: 100%;
    margin: 0 0 10px;
    box-sizing: border-box;
}

.cv-editor {
    min-height: 891px;
    min-width: 630px;
    margin: 5px 0 10px;
}

.edit-section {
    height: 55%;
}

.edit-text {
    height: 40%;
}

.select-section {
    height: 45%;
    background-color: beige;

}

.select-template {
    height: 50%;
}


.sectionselected{
    min-height: 400px;
    position: absolute;
    bottom: 0em;
    min-width: 620px;
    background-color: beige;
}
.sectionAdd {
	box-shadow:inset 0px 0px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:42px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:italic;
	padding:3px 6px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
}
.sectionAdd:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.sectionAdd:active {
	position:relative;
	top:1px;
}

#cv-section{
    background-color: beige;
    margin-top: 40em;
}